<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <section class="section">
        <div class="container">
            <div>
                <form class="user-form" action="create-user" method="POST">
                    <div class="field">
                        <label class="label">User Name</label>
                        <div class="control">
                            <input class="input" type="text" name="username">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                        <div class="control">
                            <input class="input" type="password" name="password">
                        </div>
                    </div>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link" type="submit">Create</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <%- include('includes/scripts.ejs') %>
</body>

</html>